:root {
  --red: #ff4775;
  --grey: #2c3632;
  --white: #fff;
  --dark-pink: #775e6c;
  --font-kalam: "Kalam", cursive;
  --font-cursive: cursive;
}

body {
  overflow: hidden;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: var(--grey);
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 330px) {
  .wrapper {
    visibility: hidden;
  }
  body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/cat.jpg");
    background-repeat: repeat;
    background-size: cover;
    z-index: -1;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.header__delete-button i {
  margin: 40px 25px;
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 590px) {
  .header__delete-button i {
    color: var(--white) !important;
    opacity: 1;
    font-weight: 100;
  }
}

@media screen and (max-width: 590px) {
  .header__delete-button i {
    scale: 0.9;
    margin: 25px;
  }
}

.header__delete-button i:hover {
  opacity: 1;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

button {
  background-color: #89cff0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease;
  color: var(--grey);
}

button:active {
  opacity: 0.8;
}

.header__topbar {
  width: 600px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 5px;
  height: 10%;
  margin-right: 20px;
}

@media screen and (max-width: 450px) {
  .header__topbar {
    margin: 0 -130px 0 -150px;
    scale: 0.5;
    padding: 10px;
  }
}

@media screen and (min-width: 450px) and (max-width: 640px) {
  .header__topbar {
    margin: 0 -100px 0 -120px;
    scale: 0.6;
    padding: 10px;
  }
}

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -1px;
}

.topbar input {
  font-family: var(--font-kalam);
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 15px;
  border: none;
  outline: none;
}

.topbar__selections {
  display: flex;
}

.topbar__selection,
.topbar__button-search,
.topbar__button-clear {
  font-family: var(--font-kalam);
  padding: 5px 10px;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--grey);
  border: none;
  margin-right: 5px;
}

.topbar__button-search,
.topbar__button-clear {
  opacity: 0.5;
}

.topbar__button-search:hover,
.topbar__button-clear:hover {
  background-color: var(--red);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -2;
}

@media screen and (max-width: 590px) {
  .modal__content {
    scale: 0.8;
  }
}

.modal.open {
  opacity: 1;
  z-index: 50;
}

.modal__header {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal__close-button {
  display: flex;
  justify-content: end;
}

#close-button {
  opacity: 0.6;
}

#close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__button-okay:hover {
  background-color: #d2f1e2;
  color: var(--dark-pink);
}

.modal__button-okay:disabled {
  background-color: #b7c3be;
  color: var(--grey);
}

.modal__button-okay {
  margin-right: 10px;
}

.modal__button-cancel:hover {
  background-color: #ffc4cd;
  color: var(--dark-pink);
}

.modal__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: -webkit-linear-gradient(
    45deg,
    rgb(254, 197, 229) 20%,
    rgb(137, 207, 240)
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(254, 197, 229) 20%,
    rgb(137, 207, 240)
  );
  background: linear-gradient(
    45deg,
    rgb(254, 197, 229) 20%,
    rgb(137, 207, 240)
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

select {
  font-family: var(--font-cursive);
}

.modal__sticker-color select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--white);
  margin: 10px 0;
  width: 95%;
  outline: none;
}

.modal__sticker-text textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--white);
  margin-top: 10px;
  width: 90%;
  resize: none;
  outline: none;
  font-family: var(--font-cursive);
}

.modal__sticker-incline {
  margin-top: 10px;
}

.modal__sticker-incline input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--white);
  margin: 10px 0;
  width: 90%;
  outline: none;
  font-family: var(--font-cursive);
}

.modal__sticker-importance select {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--white);
  width: 95%;
  outline: none;
}

.modal__footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.sticky-note {
  position: absolute;
}

@media screen and (max-width: 590px) {
  .sticky-note {
    position: unset;
    scale: 0.7;
    margin: -25px 0 -60px 0;
  }
}

@media screen and (max-width: 1450px) {
  .sticky-note {
    position: unset;
    margin-left: 50px;
  }
}

.sticky-note__content {
  width: 270px;
  position: relative;
}

.sticky-note__content-outer {
  display: flex;
  padding-top: 92.5925926%;
  position: relative;
  width: 100%;
}

.sticky-note__content-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sticky-note__content-inner:before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: "";
  width: 90%;
  left: 5px;
  height: 75%;
  position: absolute;
  top: 30%;
}

.sticky-note__main-content {
  background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
  width: 100%;
  height: 100%;
  font-family: var(--font-kalam);
  font-size: 24px;

  overflow: hidden;
  word-wrap: break-word;
  text-align: center;

  clip-path: url(#stickyClip);
}

.color_green {
  background: linear-gradient(
    180deg,
    rgba(191, 255, 200, 1) 0%,
    rgba(191, 255, 200, 1) 12%,
    rgba(171, 239, 187, 1) 75%,
    rgba(202, 255, 208, 1) 100%
  );
}

.color_yellow {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 182, 1) 0%,
    rgba(255, 255, 182, 1) 12%,
    rgba(255, 249, 146, 1) 75%,
    rgba(278, 270, 182, 1) 100%
  );
}

.color_pink {
  background: linear-gradient(
    180deg,
    rgba(255, 188, 217, 1) 0%,
    rgba(255, 188, 217, 1) 12%,
    rgba(295, 175, 209, 1) 75%,
    rgba(284, 198, 225, 1) 100%
  );
}

.text-importance_high {
  color: var(--red);
}

.text-importance_low {
  color: #8080ff;
}

.sticky-note__buttons {
  margin: 10px 0 0 10px;
  display: flex;
}

.sticky-note__delete-button,
.sticky-note__edit-button {
  cursor: pointer;
  opacity: 0.5;
  scale: 0.8;
}

.sticky-note__delete-button:hover,
.sticky-note__edit-button:hover {
  opacity: 1;
}

.sticky-note__text {
  padding: 25px 20px 20px 10px;
}
